

.picture{
    position: relative;
    width: 350px;
    height: 260px;
    margin: 7px; /* Значение отступов */
    padding: 20px; /* Поля вокруг текста */
    border: 1px solid black; /* Параметры границы */
    background: #fff; /* Цвет фона */
    left: 160px;
	display: inline-block;
}
.menu_horiz a {
	margin: 0 2px;
}
a {
    color: black; 
    text-decoration: none;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
.row {
	position: relative;
	display: flex;
}
.menu_vertic {
	display: inline-block;
}
.menu_vertic li a{
    text-align: right;
    display: block;
}