

.picture{
    position: relative;
    width: 350px;
    height: 260px;
    margin: 7px; /* Значение отступов */
    padding: 20px; /* Поля вокруг текста */
    border: 1px solid black; /* Параметры границы */
    background: #fff; /* Цвет фона */
    left: 160px;
}

a {
    color: black; 
    text-decoration: none;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }

.menu_vertic a{
    text-align: right;
    display: inline-block;
}